$bg: #E4E0E1;
$light: #D6C0B3;
$normal: #AB886D;
$dark: #493628;

body {
	padding-top: 100vh;
    background-color: $light;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.mirror {
    transform: scale(-1, 1);
}

@supports(animation-range: 0vh 90vh) {
    @keyframes sticky-parallax-header-move-and-size {
        from {
            background-position: 50% 0;
        }

        to {
            background-position: 50% 100%;
            background-color: $dark;
            height: 10vh;
            font-size: 2em;
        }
    }

    #sticky-parallax-header {
        position: fixed;
        top: 0;
        animation: sticky-parallax-header-move-and-size linear forwards;
        animation-timeline: scroll();
        animation-range: 0vh 90vh;
    }

    body {
        padding-top: 100vh;
    }
}

#sticky-parallax-header {
    color: white;
    height: 100vh;
    width: 100%;
	background-image: url("img/Coffee_Beans_Background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: soft-light;
    z-index: 100;

    display: grid;
    place-items: center;
    text-align: center;

    font-size: calc(10vw + 1em);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto 0;
    width: 80vw;
    max-width: 60em;
}

button {
    display: block;
    background-color: $dark;
    color: white;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: 1em 1.8em;
    cursor: pointer;
    margin: 0 auto 5em;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    
    &:hover{
        background-color: $normal;
        transform: scale(1.05);
    }
}

#content {
    h2 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    p {
        text-align: center;
    }
    

    .p {
        display: flex;
    }
    .p {
        img {
            width: 50%;
            border-radius: 10%;
            margin: 0 5px 0 5px;
        }
    }

    #a {
        color: black;
        text-decoration: underline;
    }
    #a:hover {
        color: $dark;
    }

    #none {
        text-decoration: none;
    }
}

@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

.revealing {
	/* Create View Timeline */
	view-timeline-name: --revealing;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 40%;

    margin-top: 100px;
}

.alert {
    color: red;
    text-align: center;
    margin-top: 100px;

    /* Create View Timeline */
	view-timeline-name: --highlighting;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear highlight both;
	animation-timeline: --highlighting;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 30%;
}

@keyframes highlight {
    from {
        opacity: 10%;
    }
    to {
        opacity: 100%;
    }
}

#backButton {
    text-align: center;
}

footer {
    display: flex;
    font-size: 15px;
    color: white;
    background-color: $dark;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: auto 0;
}
